/**
 * Created by Mateusz Wiorek on 18.03.2020.
 */
 .THIS .movieImage {
     width: 100%;
     height: auto;
     overflow: hidden;
     border-radius: 5px;
     position:relative;
 }
  .THIS .fullName{
        font-size: 18px;
        color: black;
        text-align: center;
}
.THIS .movieImage:hover{
     opacity: 0.8;
 }
.THIS .rateHover{
    display:none;
    position:absolute;
    top:0;
    left:10%;
    z-index:9999;
}
.THIS .movieImage:hover .rateHover{
    display:block;
}
.THIS .favButton{
    width:30px;
}
.THIS img{
    width:100%;
    height:auto;
    object-fit:cover;
}
.THIS .buyNowButton{
    border: none;
    background-color:transparent;
    color:black;
}
.THIS .buyNowButton:hover{
    border:1px solid black;
    background-color:transparent;
}