/**
 * Created by Mateusz Wiorek on 18.03.2020.
 */
 .THIS .movieImage {
     width: 100%;
     height: auto;
     overflow: hidden;
     border-radius: 5px;
 }
  .THIS .fullName{
        position: absolute;
        left: 50%;
        bottom: 0%;
        font-size: 18px;
        color: black;
        text-align: center;
        transform: translate(-50%,-50%);
        display: none;
}
.THIS .movieImage:hover{
     opacity: 0.8;
 }
  .THIS .movieImage:hover .fullName{
      display: inline;
  }