/**
 * Created by Mateusz Wiorek on 16.03.2020.
 */
.THIS .movieImage:hover{
    opacity: 0.8;
}
.THIS {

    overflow: hidden;
 }
 .THIS .movieImage {
     width: 100%;
     height: auto;
 }
 .THIS .fullName{
            position: absolute;
            left: 50%;
            bottom: 5%;
            font-size: 15px;
            color: white;
            text-align: center;
            transform: translate(-50%,-50%);
            display: none;
 }
 .THIS .movieImage:hover .fullName{
     display: inline;
 }
 .THIS .movieImage {
     overflow: hidden;
 }
 .THIS img{
       display: block;
       width: 100%;
       height: 100%;
       object-fit: cover;
       border-radius: 5px;
 }