/**
 * Created by Mateusz Wiorek on 15.04.2020.
 */
.THIS .summary_boldFont > * > *{
    font-weight: bold;
    font-size: 1.2rem;
}
.THIS .summary_boldFont > * > * > *{
    font-weight: bold;
    font-size: 1.2rem;
}