/**
 * Created by Mateusz Wiorek on 26.03.2020.
 */
.THIS .cartItems{
    z-index:9999;
    position:absolute;
    top:6%;
    right:1%;
    display:none;
}
.THIS .cart {
    position:absolute;
    top:3%;
    right:5%;
    z-index:9999;
}
.THIS .cart:hover + .cartItems{
    display:block;
}
.THIS .cartItems:hover {
    display:block;
}
.THIS .cartIcon {
    color: black;
    width: 25px;
    height: 25px;
}